body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* custom */
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #3498db;
}

input[type="text"] {
  padding: 30px;
  font-size: 25px;
  line-height: 30px;
}

.btn {
  border-bottom: 4px solid #27ae60;
}

.btn-large {
  padding: 20px;
}

.btn-success {
  background-image: none;
  background-color: #2ecc71;
}

.btn-create {
  margin: 10px 0;
}